.wrapper {
  text-align: center;
  position: absolute;
  z-index: 12;
  inset: 165px 0 auto 0;
  margin: 10px auto;
  width: 100%;
  padding: 0 24px;
  max-width: 1160px;
}

.content {
  background-color: #fff;
  border-radius: 15px;
  padding: 28px 0;
}

.content > article > h2 {
  font-size: 0.625rem;
  padding-bottom: 10px;
  letter-spacing: 0.15em;
  color: hsl(0, 0%, 59%);
}

.content > article > p {
  font-size: 1.25rem;
  padding-bottom: 20px;
  font-weight: 500;
}

@media (min-width: 800px) {
  .wrapper {
    text-align: revert;
    padding: 24px;
  }

  .content {
    /* min-height: 161px; */
    background-color: #fff;
    border-radius: 15px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .content > article {
    padding-left: 32px;
    padding-top: 10px;
  }

  .content > article > h2 {
    letter-spacing: 0.015em;
    font-size: 0.875rem;
    font-weight: 500;
    letter-spacing: 0.05em;
  }

  .content > article > p {
    font-size: 1.625rem;
    font-weight: 500;
    width: 11.5ch;
    margin-bottom: -12px;
  }
}
